@inject PinLockService PinLock

<nav class="sidebar">
    <div class="sidebar-links flex flex-col gap-50">
    </div>

    <div class="sidebar-links">
        <NavLink class="nav-icon " href="/" Match="NavLinkMatch.All" title="Dashboard">
            <span class="material-icons">home</span>
        </NavLink>

        <NavLink class="nav-icon" href="/calendar" title="Calendar">
            <span class="material-icons">calendar_month</span>
        </NavLink>

        <NavLink class="nav-icon" href="/timeline" title="Timeline View">
            <span class="material-icons">view_list</span>
        </NavLink>

        <NavLink class="nav-icon" href="/search" title="Search & Filter">
            <span class="material-icons">manage_search</span>
        </NavLink>

        <NavLink class="nav-icon" href="/streak" title="Streak">
            <span class="material-icons">local_fire_department</span>
        </NavLink>

        <NavLink class="nav-icon" href="/analytics" title="Analytics">
            <span class="material-icons">bar_chart</span>
        </NavLink>

        <NavLink class="nav-icon" href="/tags" title="Tags">
            <span class="material-icons">sell</span>
        </NavLink>

        <NavLink class="nav-icon" href="/settings" title="Settings">
            <span class="material-icons">settings</span>
        </NavLink>
    </div>

   
   
</nav>
